.wrapper-full {
    width: calc(100vw - 64px);
    height: calc(100vh - 64px);
}

.align-items-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h4,
.img-book {
    margin-bottom: 1rem;
}

a {
    color: #008fff;
    font-weight: bold;
    padding: .5rem 1rem;
    background-color: #f0f0f0;
    border-radius: 6px;;
}

a.actived,
a:hover {
    background-color: #dfdfdf;
}
