.list-item {
  width: 100%;
  padding: 1rem 1.5rem;
  background-color: aliceblue;
  margin-bottom: .5rem;
}

.list-item .list-title {
  font-size: 1rem;
  font-weight: 700;
}

.list-item .list-informative {
  color: #727272;
  font-weight: 400;
  font-size: .75rem;
  margin-bottom: .5rem;
}


.list-item .btn {
  padding: .25rem .5rem;
  margin-right: .5rem;
  background-color: #dfdddd;
  color: #000;
}
