<app-wrapper-container>
    <span>
        Página: {{ pag }}
    </span>
    <button (click)="voltarPag()">
        Voltar
    </button>
    <button (click)="proximaPag()">
        Próximo
    </button>

    <ul>
      <li *ngFor="let curso of cursos" class="list-item">
        <p class="list-title">{{ curso.nome }}</p>
        <p class="list-informative">Carga horária: {{ curso.cargaHoraria }}</p>

        <a [routerLink]="['curso', curso.id]" class="btn">
          Detalhes
        </a>
      </li>
    </ul>
</app-wrapper-container>
